<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nature.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
    
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_naturenet"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <uses-library android:name="android.test.runner" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="test1.db" />
<!--         <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
 -->
        <activity
            android:name="net.nature.mobile.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>                        
        </activity>
        <activity
            android:name="net.nature.mobile.exp.DisplayMessageActivityvity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="net.nature.mobile.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.nature.mobile.MainActivity" />
        </activity>
        <activity
            android:name="net.nature.mobile.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:parentActivityName="net.nature.mobile.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.nature.mobile.MainActivity" />
        </activity>
        <activity
            android:name="net.nature.mobile.SigninActivity"
            android:label="@string/title_activity_signin"
            android:parentActivityName="net.nature.mobile.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.nature.mobile.MainActivity" />
        </activity>        
        <activity
            android:name="net.nature.mobile.SelectAccountActivity"
            android:label="@string/title_activity_select_account" >
        </activity>
        <activity
            android:name="net.nature.mobile.SelectContextActivity"
            android:label="@string/title_activity_select_context" >
        </activity>        
        <activity
            android:name="net.nature.mobile.ListNoteActivity"
            android:parentActivityName="net.nature.mobile.MainActivity"
            android:label="@string/title_activity_list_note" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.nature.mobile.MainActivity" />
        </activity>        
        <activity
            android:name="net.nature.mobile.EditNoteActivity"
            android:label="@string/title_activity_edit_note" >
        </activity>
        <activity
            android:name="net.nature.mobile.CreateNoteActivity"
            android:label="@string/title_activity_create_note" >
        </activity>        
    </application>

    <instrumentation
        android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
        android:targetPackage="net.nature.mobile" />

</manifest>